# Python files
*.pyc
venv/

# emacs specific files

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

# vagrant folder
.vagrant/

# various 
Data/
.~lock.*

# Just for test
temp_hamed/
