# Python files
*.pyc
venv/
db.sqlite3

# emacs specific files

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

# vagrant folder
.vagrant/

# various 
data/
.~lock.*

# Dirs just for test
temp_hamed/
data-test/
webapp/crispr_exposed/blastplus/
webapp/crispr_exposed/crispr/blast/

# Static files temporary copied here to resolve path problem
webapp/crispr_exposed/crispr/static/

# reports
pipelines/crt_error.txt
config.ini

