{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
<h2>About</h2>
<p>
Welcome to CRISPR-Exposed! A powerful database of all things related to the CRISPR-cas system. We hope you enjoy your stay! Our team felt that there was a lack of databases related to the CRISPR-cas system. We found ourselves having to go through multiple sites to gather all of the information we needed about CRISPR. We decided to put together a database of all things CRISPR. The database contains CRISPR arrays and spacers of all possible complete bacterial/archea genomes from NCBI. It also contains all of the regular information you would find on NCBI.
    
Our team hopes that this database is useful for exploratory purposes as well as specific purposes in regards to the CRISPR-system. 
</p>

{% endblock %}