{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Data Visualization{% endblock %}

{% block body_block %}

  <div class="col-md-12">
    <div class="col-md-3">
      <h5>Number of genomes per group</h5>
      <div id="groupRowChart"></div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <h5>Distribution of CRISPR repeats' length</h5>
        <div id="repeatHistogram"></div>
      </div>
      <div class="row">
        <h5>Distribution of CRISPR spacers' length</h5>
        <div id="spacerHistogram"></div>
      </div>
    </div>
    <div class="col-md-6">
      <h5 id="parcoordsTitle">Parallel coordinates</h5>
      <div id="crisprParcoords" class="parcoords" style="width:600px;height:550px; margin:0 auto;"> </div>
    </div>
  </div>

  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.22/dc.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
  <script src="{% static 'js/d3.parcoords.js' %}"></script>
  <script type="text/javascript">

    /*************************************
    * CHARTS USING DC.JS AND CROSSFILTER *
    **************************************/
    
    /* create chart objects */
    var groupRowChart = dc.rowChart("#groupRowChart"),
    repeatHistogram = dc.barChart("#repeatHistogram"),
    spacerHistogram = dc.barChart("#spacerHistogram");
    
    
    /* load data */
    d3.csv("{% static 'dataviz/label_reducedslrl_removedFP_copy.csv' %}", function(error, label_reducedslrl) {
    
    
    /* set crossfilter */
        var data = crossfilter(label_reducedslrl),


        /* dimension */
        groupDimension          = data.dimension(function(d){return d.Kingdom_Group;}),
        repeatLengthDimension   = data.dimension(function(d){return +d.Repeat_length;}),
        spacerLengthDimension   = data.dimension(function(d){return +d.Spacer_length;});


        /* group for each dimension */
        groupSum            = groupDimension.group().reduceSum(function(d){return d.log_genome_count;}),
        repeatLengthSum     = repeatLengthDimension.group().reduceSum(function(d){return d.Count;}),
        spacerLengthSum     = spacerLengthDimension.group().reduceSum(function(d){return d.Count;});

     
        /* define charts attributes */

        groupRowChart
        .width(200)
        .height(600)
        .margins({left: 10, top: 10, right: 5, bottom:40})
        .dimension(groupDimension)
        .renderTitle(true)
        .renderLabel(true)
        .label(function (d){return d.key.match(/.*_(.*)/)[1];})
        .elasticX(true)
        .group(groupSum)
        .xAxis().ticks(2)

        groupRowChart.renderlet(function(chart){
            chart.selectAll("g.row rect").attr("fill", function(d){
                //return "#abd9e9";
                var kingdom = d.key.match(/.*_(.*)/)[1];
                if( kingdom == "Crenarchaeota" ||
                    kingdom == "Euryarchaeota" || 
                    kingdom == "Korarchaeota" ||
                    kingdom == "Thaumarchaeota" ||
                    kingdom == "unclassified Archaea")
                {
                    return "#fcbba1";
                } else {
                    return "#abd9e9";
                }
            });
        });

            repeatHistogram
            .width(250)
            .height(250)
            .margins({left: 50, top: 20, right: 20, bottom: 50})
            .dimension(repeatLengthDimension)
            .x(d3.scale.linear().domain([15,45]))
            .yAxisLabel("Count")
            .xAxisLabel("Length of repeat (bp)")
            .elasticX(true)
            .elasticY(true)
            .brushOn(true)
            .group(repeatLengthSum)

            spacerHistogram
            .width(250)
            .height(250)
            .margins({left: 50, top: 20, right: 20, bottom: 50})
            .dimension(spacerLengthDimension)
            .x(d3.scale.linear())
            .yAxisLabel("Count")
            .xAxisLabel("Length of spacer (bp)")
            .elasticY(true)
            .elasticX(true)
            .brushOn(true)
            .group(spacerLengthSum)

            dc.renderAll();


            /* Additional function to add x-axis label to row chart */
            function AddXAxis(chartToUpdate, displayText)
            {
                chartToUpdate.svg()
                    .append("text")
                    .attr("class", "x-axis-label")
                    .attr("text-anchor", "middle")
                    .attr("x", chartToUpdate.width()/2)
                    .attr("y", chartToUpdate.height()-4)
                    .text(displayText);
            }

            AddXAxis(groupRowChart, "log10 number of genome");

        });

/***************************************
* PARALLEL COORDINATES USING PARCOORDS *
****************************************/

d3.csv("{% static 'dataviz/label_report_completeAssembly_count_above_0.csv' %}", function(data){
    
    var colorgen = d3.scale.ordinal().range(
        ["#fcbba1", "#313695"]);

    var color = function(d) {return colorgen(d.Kingdom);};
    var parcoords = d3.parcoords()("#crisprParcoords")
      .data(data)
      .hideAxis(["RefseqID","AssemblyLevel","Kingdom"])
      .color(color)
      .alpha(0.20)
      .composite("darker")
      .margin({ top: 20, left: 100, bottom: 10, right: 10 })
      .mode("queue")
      .render()
      .brushMode("1D-axes")  // enable brushing
      .reorderable();

    parcoords.svg.selectAll("text")
        .style("font", "11px helvetica");

});


</script>

{% endblock %}
